<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div {
        text-align: center;
    }
</style>

<body>
    <form method="POST">

        {%csrf_token%}


        <div class="contanier">
            <h1>
                Welcome to the Login Page
            </h1>
            <hr>
            <label for="Name">Name</label>
            <input type="text" placeholder="Enter Your Name" name="name">
            <label for="Last Name">Last Name</label>
            <input type="text" placeholder="Enter Your Last Name" name="lname">
            <label for="Email">Email</label>
            <input type="email" placeholder="Enter Your Email" name="email">
            <label for="Password">Password</label>
            <input type="text" placeholder="Enter Your Password" name="password">
            <input type="submit" value="submit">



        </div>
</body>
</form>

</html>